[submodule "data/CNNPromoterData"]
	path = data/CNNPromoterData
	url = https://github.com/solovictor/CNNPromoterData.git
[submodule "multiscorer"]
	path = multiscorer
	url = https://github.com/StKyr/multiscorer.git
[submodule "cross_validate/multiscorer"]
	path = cross_validate/multiscorer
	url = https://github.com/StKyr/multiscorer.git
